@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
/*--nav-bar--*/
#header
{
    background: gray;
}
.navbar
{
    padding-top: 20px !important;
    background: gray !important;
    
    
    
    
}
.nav-item
{
    margin-left:40px;
    margin-bottom:10px;
   
}
.nav-link
{
    
    font-size:20px !important;
    padding: 0 0 5px 0 !important;
    margin-right: 60px !important;
    color:#fff !important;
    
    
}
.navbar-brand img
{
    width:250px;
    margin-bottom: 10px;
    margin-left: 40px;
    float: left;
}
.fa-bars
{
    color: #fff;
    font-size:30px !important;
}
.navbar-toggler
{
    margin-bottom: 10px !important;
    
}

.nav-link:hover{
  
  color: #8bd2e4 !important;
}
  
/*--main--*/
.background
{

   background-color: #282828;
   width: 100%;
   height: 100%;  
}
.background img
{
    margin-top: -100px;
    margin-bottom: -250px;
    
}
.background h1
{
    font-size:50px;
    color:white;
    text-align: center;
    margin-bottom:180px;
   
    
}
/*--services--*/
.servicebox
{
    
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px solid;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
   
    
    
}
.servicebox:before
{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #8bd2e4;
    position: absolute;
    top:0;
    left:-100%;
    z-index:-1;
    transition: all 0.5s ease 0s;
    
    
}
.servicebox:hover:before
{
    left:0;
}
.servicebox:after
{
    content:"";
    width:7px;
    height:0;
    border-radius: 5px;
    background: orange;
    position: absolute;
    top:0;
    left:0;
    transition: all 0.5s ease 0s;
    
}
.servicebox:hover:after
{
    height:100%;
}
.servicebox .service-icon
{
    color:#8bd2e4;
    margin-bottom: 10px;   
}

.servicebox .service-icon i
{
    font-size:50px;
    float:inherit;
    text-align: center;
    
}

.servicebox .title
{
    display:inline-block;
    font-size:25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
    
}
.servicebox .service-icon:hover
{
    color:black;
}
.description
{
    font-size:18px !important;
}
/*--media_query--*/
@media (max-width:1240px){
        
    
   .nav-link
    {
        font-size:15px !important;
        
    }
    .nav-item
    {
        margin-left: 20px;
        margin-bottom:10px;
    }

.background img
{
   width: 500px;
   margin-top: 50px;
    
}
.background h1
{
    font-size:20px;
    color:white;
    text-align: center;
    margin-top:120px; 
    
}
     
}
@media (max-width:1300px){
    .navbar-brand img
    {
        max-width:150px;
    }
    
}
@media (max-width: 768px) { 
  .navbar-nav>li {
	
  text-align:right;
  float: none;
  margin-right: -50px!important;
      
  }
}
@media (max-width:500px){
    
   .background img
{
   width: 70%;
   margin-top: 60px;
    
}
.background h1
{
    font-size:70%;
    color:white;
    text-align: center;
    margin-top:180px;
}

}

