@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
}
/*--nav-bar--*/
#header
{
    background: #282828;
    top:0;
    position: sticky;
    z-index: 2;
}
.navbar
{
    padding-top: 20px !important;
    background: #282828 !important;
    
    
    
     
}
.nav-item
{
    margin-left:40px;
    margin-bottom:10px;
   
}
.nav-link
{
    
    font-size:20px !important;
    padding: 0 0 5px 0 !important;
    margin-right: 60px !important;
    color:#fff !important;
    
    
}
.navbar-brand img
{
    width:250px;
    margin-bottom: 10px;
    margin-left: 40px;
    float: left;
}
.fa-bars
{
    color: #fff;
    font-size:30px !important;
}
.navbar-toggler
{
    margin-bottom: 10px !important;
    
}

.nav-link:hover{
  
  color: #8bd2e4 !important;
}
  
/*--main--*/
.background
{
   
   
   
   background-color: #282828;
   width: 100%;
   height: 100%;  
}
.background img
{
    margin-top: -100px;
    margin-bottom: -250px;
    
}
.background h1
{
    font-size:50px;
    color:white;
    text-align: center;
    margin-bottom:180px;
   
}
/*--aboutme--*/
#about
{
    background-color: #f8f8ff;
    
    
}
.profile img
{ 
    
    margin: 20px;
    width: 400px;
    border-radius: 100%;
    border:3px solid;
    border-color:#8bd2e4;
    
}
.aboutme

{   margin: 40px;
    font-size: 16px;
    padding: 20px;
    
    text-align: center;
    
}
.modal
{
    text-align: center;
}
.modal-title
{
    margin-right: -35px !important;
}
/*--services--*/
#services
{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/background-services.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
  
}
.servicebox
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px solid;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    color:#f8f8ff;
   
    
    
}
.servicebox:before
{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #8bd2e4;
    position: absolute;
    top:0;
    left:-100%;
    z-index:-1;
    transition: all 0.5s ease 0s;
    
    
    
}
.servicebox:hover:before
{
    left:0;
}
.servicebox:after
{
    content:"";
    width:7px;
    height:0;
    border-radius: 5px;
    background: orange;
    position: absolute;
    top:0;
    left:0;
    transition: all 0.5s ease 0s;
    
    
}
.servicebox:hover:after
{
    height:100%;
    color:black;
}
.servicebox .service-icon
{
    
    margin-bottom: 10px;   
}

.servicebox .service-icon i
{
    font-size:50px;
    float:inherit;
    text-align: center;
    
}

.servicebox .title
{
    display:inline-block;
    font-size:25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
    
}
.description
{
    font-size:18px !important;
    color:floralwhite;
}

/*--media_query--*/
@media (max-width:1240px){
        
    
   .nav-link
    {
        font-size:15px !important;
        
    }
    .nav-item
    {
        margin-left: 20px;
        margin-bottom:10px;
    }
.readmore
{
    margin-left: 25%;
    width: 50%;
        font-size:14px !important;
}
.background img
{
   width: 500px;
   margin-top: 50px;

    
}
.background h1
{
    font-size:20px;
    color:white;
    text-align: center;
    margin-top:120px; 
    
}
     
}
@media (max-width:1300px){
    .navbar-brand img
    {
        max-width:150px;
    }
    .navbar-nav>li {
	
  text-align:right;
  float: none;
  margin-right: -50px!important;
      
  }
  .profile img
{ 
    
    
   
    width:350px;
    border-radius: 100%;
    border:3px solid;
    border-color: #8bd2e4;
    
}
.aboutme

{   
    margin: 20px;
    font-size: 13px;
    padding: 20px;
    text-align: justify;
    
}
    
}
@media (max-width: 768px) { 
  .navbar-nav>li {
	
  text-align:right;
  float: none;
  margin-right: -50px!important;
      
  }
.profile img
{ 
    
    
    margin-left: 15%!important;
    width:70%;
    border-radius: 100%;
    border:3px solid;
    border-color: #8bd2e4;
    margin-bottom: -20px!important;
}
.aboutme

{   
    margin: 20px;
    font-size: 13px;
    padding: 20px;
    text-align: justify;
    
}
}
@media (max-width:500px){
    
   .background img
{
   width: 70%;
   margin-top: 60px;
    
}
.background h1
{
    font-size:70%;
    color:white;
    text-align: center;
    margin-top:180px;
}

}

