@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
    
}
/*--nav-bar--*/
#header
{
    background: #282828;
    top:0;
    position: sticky;
    z-index: 2;
}
.navbar
{
    padding-top: 20px !important;
    background: #282828 !important;
    
    
    
     
}
.nav-item
{
    margin-left:40px;
    margin-bottom:10px;
   
}
.nav-link
{
    
    font-size:20px !important;
    padding: 0 0 5px 0 !important;
    margin-right: 60px !important;
    color:#fff !important;
    
    
}
.navbar-brand img
{
    width:250px;
    margin-bottom: 10px;
    margin-left: 40px;
    float: left;
}
.fa-bars
{
    color: #fff;
    font-size:30px !important;
}
.navbar-toggler
{
    margin-bottom: 10px !important;
    
}

.nav-link:hover{
  
  color: #8bd2e4 !important;
}
  
/*--main--*/
.background
{
   
   
   
   background-color: #282828;
   width: 100%;
   height:1000px; 
}
.background img
{
    margin-top: -100px;
    margin-bottom: -250px;
    
}
.background h1
{
    font-size:50px;
    color:white;
    text-align: center;
    margin-bottom: 180px;
    
   
}
/*-----------------------------------------------------------aboutme---------------------------------------------------------*/
#about
{
    background-color: #efefef;
    padding-bottom: 60px;
    
    
}
.about-title
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    padding-top:40px;
    padding-bottom: 40px;
    color:black;
    text-align: center;
    
}
.about-title::after
{
    content:'';
    display: block;
    background: #8bd2e4;
    height:3px;
    width:150px;
    margin:10px auto 5px;
}
.profile img
{ 
    
    margin: 40px 0px 40px 0px;
    width: 400px;
    border-radius: 100%;
    border:3px solid;
    border-color:#8bd2e4;
    
}
.aboutme
{   
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    margin: 40px;
    font-size: 18px;
    padding: 20px;
    text-align: center;
    
}
.modal
{
    text-align: center;
}
.modal-title
{
    margin-right: -35px !important;
    
}
.readmore
{
    background-color:#8bd2e4 !important;
    border-color:orange !important;
    color:black !important;
    
}
.button_readmore
{
    text-align: center !important;
}
/*---------------------------------------------------------services-----------------------------------------------------------------*/
#services
{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/background-services.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    padding-bottom: 60px;
   
  
}
.services-title
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    padding-top:40px;
    padding-bottom: 40px;
    color: #fff;
    text-align: center;
}
.services-title:after
{
    content: '';
    background: orange;
    display:block;
    height:3px;
    width:130px;
    margin:10px auto 5px;
}
.servicebox
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    padding:20px;
    border-radius: 5px solid;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#f8f8ff;
    width: 350px;
    height: 350px;
   
  
    
}
.servicebox:before
{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #8bd2e4;
    position: absolute;
    top:0;
    left:-100%;
    z-index:-1;
    transition: all 0.5s ease 0s;
    
    
    
}
.servicebox:hover:before
{
    left:0;
}
.servicebox:after
{
    content:"";
    width:7px;
    height:0;
    border-radius: 5px;
    background: orange;
    position: absolute;
    top:0;
    left:0;
    transition: all 0.5s ease 0s;
    
    
}
.servicebox:hover:after
{
    height:100%;
    color:black;
}
.servicebox .service-icon
{
    
    margin-bottom: 10px;   
}

.servicebox .service-icon i
{
    font-size:70px;
    float:inherit;
    text-align: center;
    
}

.servicebox .title
{
    display:inline-block;
    font-size:30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
    
}
.description
{
    font-size:18px !important;
    color:floralwhite;
    content: '';
    height: 100px;
}
.flip-card-inner {
  
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
 
}

.servicebox:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-back {
  
  color: black;
  transform: rotateY(180deg);
  text-decoration:
}
.flip-card-back ul
{
    list-style: none;
    font-size:15px;
}
.flip-card-back h1
{
    font-size:22px;
    font-weight: bold;
}
/*-----------------------------------------------------------------------------contact---------------------------------------------------------*/
#contact
{
    background: #efefef;
   
    
    
}
.contact-title
{
    padding-top:40px;
    padding-bottom: 40px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    
}
.contact-title::after
{
    content: '';
    background: #8bd2e4;
    display:block;
    height:3px;
    width:150px;
    margin:10px auto 5px;
    
}
.contact-form
{
    padding:15px;
    
}
.follow
{
    background: #fff;
    padding:10px;
    margin:15px;
    text-align: center;
    font-size: 19px;
    
}
.button
{
    
   text-align: center!important;
   
    
}
.contact-info
{
   
}
.button_contact
{
   background-color:#8bd2e4 !important;
   color:black !important;
   border-color:orange !important;
}
.map-title
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.map-title::after
{
    content: '';
    background: orange;
    display:block;
    height:3px;
    width:250px;
    margin:10px auto 5px;

}
.follow .fa-facebook-square
{
    color: #3C5A99;
}
.follow .fa-instagram
{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
    
  
    
}
.follow .fa-map-marker-alt
{
    color:red;
}

/*--------------------------------------------------------footer---------------------------------------------------------------------------*/
#footer
{
    background:#333 !important;
    color:#fff;
    padding:1px;
    font-size:10px;
    
}
/*----------------------------------------------------media_query-------------------------------------------------------------------------*/
/*-------------------------------------------------max-width:1240px----------------------------------------------------------------------*/
@media (max-width:1240px){
        
    
   .nav-link
    {
        font-size:15px !important;
        
    }
    .nav-item
    {
        margin-left: 20px;
        margin-bottom:10px;
    }
.readmore
{
    margin-left: 25%;
    width: 50%;
        font-size:14px !important;
}
.background img
{
   width: 500px;
   margin-top: 50px;

    
}
.background h1
{
    font-size:20px;
    color:white;
    text-align: center;
    margin-top:120px; 
    
}

.servicebox
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    padding:20px;
    border-radius: 5px solid;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    color:#f8f8ff;
    width: 288px;
    height: 300px;
   
  
    
}
}
/*-------------------------------------------------max-width:1300px----------------------------------------------------*/
@media (max-width:1300px){
    .background
    {
        height: 700px;
    }
    .navbar-brand img
    {
        max-width:150px;
    }
    .navbar-nav>li {
	
  text-align:right;
  float: none;
  margin-right: -50px!important;
      
  }
  .profile img
{ 
    
    
   
    width:350px;
    border-radius: 100%;
    border:3px solid;
    border-color: #8bd2e4;
    
}
.aboutme

{   
    margin: 20px;
    font-size: 13px;
    padding: 20px;
    text-align: justify;
    
}
    
}
/*-------------------------------------------------max-width:768px----------------------------------------------------*/
@media (max-width: 768px) { 
  .navbar-nav>li {
	
  text-align:right;
  float: none;
  margin-right: -50px!important;
      
  }
.profile img
{ 
    
    
    margin-left: 15%!important;
    width:70%;
    border-radius: 100%;
    border:3px solid;
    border-color: #8bd2e4;
    margin-bottom: -20px!important;
}
.aboutme

{   
    margin: 20px;
    font-size: 13px;
    padding: 20px;
    text-align: justify;
    
}
.servicebox
    {
        
   
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px solid;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    color:#f8f8ff;
    width: 100%;
    height: 320px;
    
}
    .servicebox .title
{
    display:inline-block;
    font-size:25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
    
}
}
/*-------------------------------------------------max-width:500px----------------------------------------------------*/
@media (max-width:500px){
    
    .background
    {
        height: 500px;
    }
   .background img
{
   
   width: 70%;
   margin-top: 60px;
    
}
.background h1
{
    font-size:70%;
    color:white;
    text-align: center;
    margin-top:200px;
}

        .servicebox .title
{
    display:inline-block;
    font-size:25px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
    margin-top: 20px;
    
}
    .flip-card-back ul
{
    list-style: none;
    font-size:12px;
}
.flip-card-back h1
{
    font-size:18px;
    font-weight: bold;
}
}

